.header 
    display: flex
    align-items: baseline
    justify-content: space-around
    background-color: #151515
    border-bottom: 2px solid #222


h1 span 
    color: #ff693b

html
    background-color: #111
    color: #eee
    padding: 0
    margin: 0

body
    padding: 0
    margin: 0
    
h2
    text-justify: center

.sidebar
    margin: 0
    padding: 20px
    width: 200px
    position: fixed
    height: 100%
    overflow: auto
    background-color: #151515

.main 
    width: 70%
    margin-left: 15%
    margin-top: 50px

.task
    display: flex
    justify-content: space-between
    &:nth-child(2n+1)
        background-color: #151515
        border-radius: 15px
        // opacity: 20%
    > div
        display: flex
        width: 100%
        align-items: center
        margin: auto
        
        > div
            display: flex
            width: 40%
            margin: 0 0 0 20px

                
        h4
            margin-left: 100px
            margin-right: 100px
        button
            height: 50%
            margin-right: 20px
.footer 
    text-align: center
    position: fixed
    bottom: 0
    width: 100%
    background-color: #151515
    border-top: 2px solid #222
ul li
    list-style: none

span
    display: inline-block
    margin: 10px 40px

